body {
	width: 100%;
	margin: 0;
}

h1 {
	font-family: 'Geneva';
	text-align: center;
	margin-bottom: 0;
}

p {
	font-family: 'Avenir';
	text-align: center;
	margin-top: 0;
}

h5 {
	font-family: 'Geneva';
	text-align: center;
	margin-top: 0;
}

li {
	font-family: 'Avenir';
	list-style-type: none;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: none;
	color: orange;
}

#lines {
	background-color: pink;
}

#line {
	width: 1030px;
	border-top: 1px solid black;
	position: absolute;
	left: -35px;
	top: 130px;
}

#line2 {
	height: 50px;
	border-left: 1px solid black;
	position: absolute;
	left: 670px;
	top: 130px;
}

#line3 {
	height: 50px;
	border-left: 1px solid black;
	position: absolute;
	left: 995px;
	top: 130px;
}

#container {
	width: 601px;
	height: 300px;
	position: fixed;
	top: 20%;
	left: 5%;
	transform: translate(-5%, -20%);
}

#exercises {
	width: 200px;
	height: 300px;
	float: left;
	position: absolute;
	left: 570px;
	top: 210px;
	background-color: transparent;
}

#projects {
	width: 300px;
	height: 300px;
	float: left;
	position: absolute;
	left: 850px;
	top: 210px;
}

img {
	position: absolute;
	border-bottom: 1px black solid;
	top: 147px;
	left: 100px;

}