* {
	box-sizing: border-box;
}

body {
	background: black;
}

#objects {
	position: absolute;
	top: 130px;
}

.canvas {
	width: 900px;
	height: 556px;
	margin: 100px auto;
	background: white;
	position: relative;
	z-index: -2;
}

#table {
	width: 900px;
	height: 150px;
	background: peru;
	z-index: -1;
	position: absolute;
	border-bottom: 2px solid white;
	top: 200px;
}

#table2 {
	width: 900px;
	height: 20px;
	background: peru;
	z-index: -1;
	position: absolute;
	top: 349px;
}

#mat {
	border-bottom: 148px solid seagreen;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	height: 0;
	width: 550px;
	position: absolute;
	z-index: 0;
	top: 200px;
	left: 160px;
	-webkit-transform: skew(40deg);
	-moz-transform: skew(40deg);
	-o-transform: skew(40deg);
}

#pumpkin {
	width: 90px;
	height: 90px;
	background: orange;
	border-radius: 55px;
	top: 230px;
	left: 600px;
	position: absolute;
}

#pumpkin2 {
	width: 40px;
	height: 40px;
	background: orange;
	border-radius: 60%;
	top: 230px;
	left: 645px;
	position: absolute;
	transform: skew(30deg);
}

#lamp {
	width: 180px;
	height: 180px;
	background: radial-gradient(circle at 110px 60px, seashell, gray);
	border-radius: 50% 50% 45% 45%;
	top: 100px;
	left: 400px;
	position: absolute;
}

#glass {
	width: 75px;
	height: 125px;
	background: gray;
	position: absolute;
	top: 130px;
	left: 250px;
	border-radius: 10px;
	opacity: 0.7;
}

#water {
	width: 75px;
	height: 30px;
	background: turquoise;
	position: absolute;
	border-radius: 0px 0px 10px 10px;
	top: 95px;
	opacity: 0.7;
}

#glass_neck {
	border-bottom: 25px solid gray;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	height: 0;
	width: 75px;
	position: absolute;
	border-radius: 5px;
	top: 115px;
	left: 250px;
	opacity: 0.7;
}

#stem {
	background: sienna;
	width: 7px;
	height: 180px;
	position: absolute;
	top: 74px;
}

#flower {
	position: absolute;
}

#petal_leftbottom {
	width: 10px;
	height: 10px;
	border-radius: 0 50% 50% 50%;
	background: pink;
	transform: rotate(110deg);
}

#petal_bottom {
	width: 10px;
	height: 10px;
	border-radius: 0 50% 50% 50%;
	background: pink;
	transform: rotate(45deg);
	position: absolute;
	top: 5px;
	left: 8px;
}

#petal_rightbottom {
	width: 10px;
	height: 10px;
	border-radius: 0 50% 50% 50%;
	background: pink;
	transform: rotate(-20deg);
	position: absolute;
	top: 0px;
	left: 16px;
}

#petal_rightup {
	width: 10px;
	height: 10px;
	border-radius: 0 50% 50% 50%;
	background: pink;
	transform: rotate(-90deg);
	position: absolute;
	top: -9px;
	left: 13px;
}

#petal_leftup {
	width: 10px;
	height: 10px;
	border-radius: 0 50% 50% 50%;
	background: pink;
	transform: rotate(-180deg);
	position: absolute;
	top: -9px;
	left: 3px;
}

.shadow_vase {
	width: 80px;
	height: 20px;
	border-radius: 50%;
	background: black;
	opacity: 0.5;
	position: absolute;
	left: 243px;
	top: 240px;
	-moz-box-shadow: 1px 2px 3px black;
	-webkit-box-shadow: 1px 2px 3px black;
	box-shadow: 0px 0px 40px;
}

.shadow_lamp {
	width: 100px;
	height: 40px;
	border-radius: 50%;
	background: black;
	opacity: 0.5;
	position: absolute;
	left: 430px;
	top: 248px;
	-moz-box-shadow: 1px 2px 3px black;
	-webkit-box-shadow: 1px 2px 3px black;
	box-shadow: 0px 0px 40px;
}

.shadow_pumpkin {
	width: 60px;
	height: 30px;
	border-radius: 50%;
	background: black;
	opacity: 0.5;
	position: absolute;
	left: 605px;
	top: 295px;
	-moz-box-shadow: 1px 2px 3px black;
	-webkit-box-shadow: 1px 2px 3px black;
	box-shadow: 0px 0px 40px;
}

