body, html {
	padding: 0;
	margin: 0;
	margin-right: 0px;
	width: 100%;
	overflow-x: hidden;
}

.row {
	margin: 0px 90px;
}

#header {
	width: 100%;
	height: 60px;
	position: relative;
}

#page1 {
	width: 100%;
	height: auto;
	background: url("../images/background.png");
}	

.download_app {
	width: auto;
	height: auto;
	padding: 10px 10px;
	margin-top: 30px;
	text-align: center;
	color: white;
	background: #f04b4c;
	font-size: 20px;
	border-radius: 30px;
}

#page2 /*what*/{
	width: 100%;
	height: auto;
	padding-top: 30px;
	background: white;
	text-align: center;
}

#page3 /*steps*/{
	width: 100%;
	height: 618px;
	background: #223159;
}

#page4 /*features*/{
	width: 100%;
	height: auto;
	padding-top: 60px;
	padding-bottom: 60px;
	background: white;
}

#page5 {
	width: 100%;
	height: 608px;
	position: relative;
	padding-top: 80px;
	background: #223159;
}

#download {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -50px 0 0 -200px;
}

#footer {
	width: 100%;
	height: 70px;
	background: #f04b4c;
	position: relative;
}

a:hover {
	text-decoration: none;
}

h6 {
	color: white;
	font-weight: normal;
	line-height: 16px;
}

h3 {
	color: #223159;
}

p {
	color: black;
	font-size: 18px;
}

h4,h1 {
	color: #f04b4c;
	font-size: 40px;
}

/* iPad---------
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {




@media screen and (max-width: 768px) {


*/