.letters2 {
	width: 50px;
	height: 80px;
	margin: 20px;
	position: relative;
	float: left;
	z-index: 1;
}

.numbers {
	width: 50px;
	height: 80px;
	margin: 20px;
	position: relative;
	float: left;
}

.left2, .left_halfdown2, .left_halfup2, .left_small2,
.right2, .right_halfdown2, .right_halfup2, .right_smalllong2, .right_small2,
.diagonal_down2, .diagonal_side2, .diagonal_downright2,
.diagonal_up2, .diagonal_left2, .diagonal_right2, .diagonal_upleft2, .diagonal_up2, .diagonal_smallright2,
.center2, .center_halfdown2, .center_halfup2, .center_halfdownpunct2 {
	border-left: 2px solid red;
	z-index: 1;
}

.top2, .top_halfleft2, .top_halfright2, .top_small2 {
	border-top: 2px solid red;
}

.bottom2, .bottom_halfright2, .bottom_halfleft2, .bottom_small2, 
.center_side2, .center_halfright2, .center_halfleft2 {
	border-bottom: 2px solid red;
}

.left2 {
	width: 0px;
	height: 80px;
	float: left;
}

.left_halfdown2 {
	width: 0px;
	height: 40px;
	float: left;
	position: absolute;
	top: 40px;
}

.left_halfup2 {
	width: 0px;
	height: 40px;
	float: left;
	position: absolute;
	top: 0px;
}

.right2 {
	width: 0px;
	height: 80px;
	float: left;
	position: absolute;
	left: 48px;
}

.right_halfdown2 {
	width: 0px;
	height: 42px;
	float: left;
	position: absolute;
	top: 40px;
	left: 48px;
}

.right_halfup2 {
	width: 0px;
	height: 42px;
	float: left;
	position: absolute;
	top: 0px;
	left: 48px;
}

.top2 {
	width: 50px;
	height: 0px;
}

.top_halfleft2 {
	width: 25px;
	height: 0px;
	position: absolute;
	top: 0px;
	left: 0px;
}

.top_halfright2 {
	width: 25px;
	height: 0px;
	position: absolute;
	top: 0px;
	left: 23px;
}

.bottom2 {
	width: 50px;
	height: 0px;
	position: absolute;
	top: 80px;
}

.bottom_halfright2 {
	width: 26px;
	height: 0px;
	position: absolute;
	top: 80px;
	left: 23px;
}

.bottom_halfleft2 {
	width: 25px;
	height: 0px;
	position: absolute;
	top: 80px;
	left: 0px;
}

.diagonal_side2 {
	width: 0px;
	height: 61px;
	transform: rotate(51deg);
	left: 24px;
	top: 30px;
	position: absolute;
}

.diagonal_down2 {
	width: 0px;
	height: 46px;
	transform: rotate(28deg);
	left: 12px;
	top: 38px;
	position: absolute;
}

.diagonal_downright2 {
	width: 0px;
	height: 48px;
	transform: rotate(-32deg);
	left: 36px;
	top: 36px;
	position: absolute;
}

.diagonal_right2 {
	width: 0px;
	height: 93px;
	transform: rotate(-32deg);
	left: 24px;
	top: -5px;
	position: absolute;
}

.diagonal_left2 {
	width: 0px;
	height: 93px;
	transform: rotate(30deg);
	left: 24px;
	top: -6px;
	position: absolute;
}

.diagonal_up2 {
	width: 0px;
	height: 47px;
	transform: rotate(34deg);
	left: 36px;
	top: -3px;
	position: absolute;
}

.diagonal_upleft2 {
	width: 0px;
	height: 45px;
	transform: rotate(-31deg);
	left: 12px;
	top: -3px;
	position: absolute;
}

.center_side2 {
	width: 50px;
	height: 0px;
	position: absolute;
	top: 40px;
}

.center_halfright2 {
	width: 26px;
	height: 0px;
	position: absolute;
	top: 40px;
	left: 23px;
}

.center_halfleft2 {
	width: 26px;
	height: 0px;
	position: absolute;
	top: 40px;
	left: 0px;
}

.center_halfdown2 {
	width: 0px;
	height: 40px;
	position: absolute;
	top: 40px;
	left: 23px;
}

.center_halfup2 {
	width: 0px;
	height: 40px;
	position: absolute;
	top: 0px;
	left: 23px;
}

.punct {
	width: 50px;
	height: 80px;
	top: 70px;
	position: relative;
	float: left;
}

.quotation {
	width: 50px;
	height: 80px;
	left: 9px;
	top: 0px;
	position: absolute;
	float: left;
}

#flip {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    position: absolute;
}

.left_small2 {
	width: 0px;
	height: 10px;
	float: left;
}

.right_smalllong2 {
	width: 0px;
	height: 19px;
	position: absolute;
	left: 8px;
	float: left;
}

.right_small2 {
	width: 0px;
	height: 10px;
	position: absolute;
	left: 8px;
	float: left;
}

.top2 {
	width: 50px;
	height: 0px;
}

.top_small2 {
	width: 8px;
	height: 0px;
}

.bottom_small2 {
	width: 9px;
	height: 0px;
	top: 8px;
	position: absolute;
}

.diagonal_smallright2 {
	width: 0px;
	height: 10px;
	transform: rotate(45deg);
	left: 4px;
	top: 0px;
	position: absolute;
}

.diagonal_up2 {
	width: 0px;
	height: 47px;
	transform: rotate(34deg);
	left: 36px;
	top: -3px;
	position: absolute;
}

.center_halfdownpunct2 {
	width: 0px;
	height: 25px;
	position: absolute;
	top: 40px;
	left: 23px;
}

.center2 {
	width: 0px;
	height: 65px;
	position: absolute;
	top: 0px;
	left: 23px;
}